a {
  color: #000 !important;
  text-decoration: none !important;
}

button:focus{
outline: none !important;
transform: scale(.95);
transition: .2s;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

a:hover {
  color: #fff !important;
}

.container-general-dash {
  max-width: 100% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-x: hidden;
}

.canvas-dashboard-web {
  height: 100vh;
  background-color: #ebebeb !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  overflow-y: scroll !important;
  overflow-x: hidden;
}

.container-canvas-dashboard-web {
  max-width: 100% !important;
  padding: 15px 50px 35px 35px;
}

.banner-dash {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #f12711, #f5af19);
  width: 100%;
  height: 267px;
  border-radius: 15px;
  position: relative !important;
  overflow: hidden;
}

.banner-dash-2 {
  background: linear-gradient(to right, #f12711, #f5af19);
}

.span-text-banner-date {
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.3);
  border: 3px solid #fff;
  border-radius: 100px;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.title-item-banner {
  color: #fff;
  font-size: 23px;
  line-height: 2.1rem;
}

.title-banner-container-text {
  color: #fff;
  margin-right: 40px;
}

.title-banner-span-copy {
  position: absolute;
  bottom: -100px;
  left: 10%;
  font-size: 170px;
  font-weight: bold;
  opacity: 0.14;
  color: #fff;
}

.carousel-container {
  width: 100% !important; /* O el ancho deseado */
  overflow: hidden;
}

.container-title-top-dash-general {
  position: relative;
  padding: 35px 35px 20px 35px;
}

.title-top-dash-general {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  opacity: 0.88;
}

.dropdown-dash {
  margin-right: 15px;
  float: right;
  display: inline-block !important;
}

.btn-secondary {
  color: #000;
  background-color: #fff;
  border-radius: 15px !important;
  padding: 11px 45px;
  border: 1px solid #e44d26;
  transition: 0.5s;
}

.btn-secondary:hover {
  background: linear-gradient(to right, #e44d26, #f16529);
  border: 1px solid #fff;
  transition: 0.5s;
}

.title-top-dash-hour {
  font-size: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 0px !important;
  display: inline-block;
  float: right;
}

.dropdown-menu {
  padding: 20px !important;
  border-radius: 15px !important;
}

.dropdown-toggle:focus {
  background-color: #f16529 !important;
}

.btn.dropdown-toggle:focus {
  outline: none !important;
}

.dropdown-item {
  padding: 10px;
}

.dropdown-item:hover {
  background: #f16529;
  color: #fff;
  transition: 0.5s;
  border-radius: 15px;
}

.dropdown-menu{
  animation: fadeIn 0.2s ease-in-out;
  transition: .2s;
}

.dropdown-menu.show {
  animation: fadeIn 0.2s ease-in-out;
  transition: .2s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.card-dash-items-row {
  background-color: #fff;
  width: 100%;
  height: 300px;
  border-radius: 15px;
  margin-bottom: 55px;
  padding: 45px;
  transition: 0.5s;
}

.card-dash-items-row:hover {
  transition: 0.5s;
  cursor: pointer;
  transform: scale(0.96);
}

.card-dash-item-inside {
  padding: 30px;
  background-color: #ebebeb;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
}

.container-dash-items-row {
  margin-top: 55px;
  max-width: 96%;
}

.slick-dots li.slick-active button:before {
  color: #f16529; /* Cambia 'red' al color que desees */
}

.title-card-item-inside {
  font-size: 29px;
  opacity: 0.9;
}

.text-card-item-inside {
  margin-top: 15px;
  opacity: 0.5;
  line-height: 1.96rem;
}

.container-trigger-amount-card-inside {
  margin-top: 45px;
}

.title-trigger-amount-card-inside {
  font-size: 25px;
}

.span-trigger-log {
  color: #f16529;
  font-weight: bold;
}

.container-btn-card-inside {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.btn-card-inside {
  padding: 9px 45px;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(to right, #e44d26, #f16529);
  border: 1px solid #fff;
  transition: 0.5s;
  border-radius: 15px;
}

.btn-card-inside:hover{
  background: #fff;
  color:#f16529;
  transition: .2s;
}

.container-section-nav-items{
  margin-top: 10px;
  margin-right: 25px;
  float: right;
  display: inline-block;
  gap: 15px;
}

.container-img--items{
  position: relative;
  display: inline-block;
}

.img--items{
  width: 25px;
  margin-left: 20px;
  opacity: .7;
}

.item-img-span{
  position:absolute;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: #f16529;
  right: -5px;
}

.button-top-nav{
  display: inline-block;
  margin-left:15px;
}

.btn-nav-header{
  border: 1px solid #f16529;
  padding:12px 45px;
  border-radius: 15px;
  background-color: #fff;
  transition: .2s;
}

.btn-nav-header:hover{
  background: #f16529;
  color:#fff;
}

.container-title-dash-box{
  margin-top: 50px;
  max-width: 96%;
}

.title-dash-box{
   display: inline-block;
    font-size: 30px;
    font-weight: bold;
    opacity: 0.88;
}


.container-search-dash-box{
  display:flex;
  float: right;
}

.input-search-dash-box{
  background: #fff;
  border-radius: 100px;
  border:none;
  padding: 12px 45px;
  transition: .2s;
}


.container-row-img--items{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background: #fff;
  margin-left: 20px;
}

.img-span-row-search{
  margin-left: 0 !important;
  opacity: .5 !important;
}

.span-row-search{
  top: 0px !important;
  right:1px;
}

@media screen and (min-width: 0px) and (max-width: 1340px) {
 .btn-nav-header{
  display: none;
 }
 .slick-list{
  overflow: visible !important;
 }
 .title-top-dash-hour{
  display: none;
 }
}


@media screen and (min-width: 1200px) and (max-width: 1650px) {
  .btn-nav-header-span{
   display: none;
  }
  .slick-list{
   overflow: visible !important;
  }
  .title-top-dash-hour{
   display: none;
  }
  .title-card-item-inside{
    font-size: 23px;
  }
 }

 @media screen and (min-width: 1200px) and (max-width: 1400px) {
  .title-card-item-inside{
    font-size: 20px;
  }
  .text-card-item-inside{
    font-size: 18px;
  }
  .container-img-span-card-inside{
    right: 30px !important;
  }
 }


 @media screen and (min-width: 1600px) {
  .input-search-dash-box{
    padding: 12px 160px;
  }
 }


 @media screen and (min-width: 773px) and (max-width: 1160px) {
  .span-title-dash-view-mobile{
    display: none;
  }
 }

 @media screen and (min-width: 768px) and (max-width: 1100px) {
  .title-banner-container-text{
    font-size: 28px;
  }
  .title-banner-span-copy{
    font-size: 100px;
    bottom: -40px;
    left: 3%;
  }
  .title-card-item-inside{
    font-size: 20px;
  }
  .text-card-item-inside{
    font-size: 18px;
  }
 }

