.container-items-popup-detail-show {
  top: 0;
  left: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(17, 23, 21, 0.8);
  backdrop-filter: blur(6px);
  z-index: 10000;
  display: flex;
  opacity: 1;
  transition: 0.2s !important;
  visibility: visible;
  transform: scale(1);
}

.container-items-popup-detail {
  transform: scale(0.98);
  visibility: hidden !important;
  transition: 0.5s;
  opacity: 0;
}
.card-popup-detail {
  width: 560px;
  height: 520px;
  background: #fff;
  border-radius: 15px;
  position: relative;
}

.title-card-trigger {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
}

.row-jackpot-value {
  margin-top: 45px;
  justify-content: space-around;
  display: flex;
  width: 100%;
}

.title-jackpot-row-value {
  font-size: 20px;
  margin-top: 15px;
}

.input-row-value-jackpot {
  padding: 12px 25px;
  text-align: center;
  border-radius: 100px;
  border: 1px solid #f16529;
}

.btn-row-jackpot-actualization-value {
  padding: 12px 45px;
  background: linear-gradient(to right, #e44d26, #f16529);
  border-radius: 15px;
  border: none;
  color: #fff;
  transition: 0.4s;
}

.btn-row-jackpot-actualization-value:hover {
  background: #fff;
  color: #000;
  border: 1px solid #f16529;
  transition: 0.4s;
}

.img-close-popup-deatil {
  cursor: pointer;
  position: absolute;
  opacity: 0.7;
  width: 30px;
  right: 30px;
  top: 30px;
}

.card-inside-popup-jackpot-web-span-amounts {
  padding: 45px;
  text-align: center !important;
  overflow-y: auto;
  max-height: 430px;
  scrollbar-width: thin !important;
}

.container-jackpot-selection-amount {
  background: #f5f5f5;
  border-radius: 15px;
  width: 80%;
  margin: auto;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
  cursor: pointer;
  transition: 0.2s;
}

.container-jackpot-selection-amount:hover {
  background: rgba(241, 101, 41, 0.5);
  color: #fff;
  transition: 0.2s;
}

.img-jackpot-selection-amount {
  width: 45px;
}

.text-jackpot-selection-amount {
  font-size: 20px;
  opacity: 0.87;
  margin-bottom: 0px !important;
}

.amount-jackpot-selection-amount {
  margin-bottom: 0px !important;
  font-weight: bold;
}

.card-selected-actualization-jackpot {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.span-selected-comp {
  margin-bottom: 25px !important;
}

.card-selected-act-jack-text-espc {
  background: #f5f5f5;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
}


.span-players-list{
padding: 20px !important;
}

.span-table-players{
  margin-top: -50px;
}

.span-level{
  margin-bottom: 40px;
}